<div class="container d-flex justify-content-center align-items-center vh-100 px-3">
  <div class="card p-4 shadow-lg" style="border-radius: 20px; max-width: 500px; width: 100%;">
    <h3 class="text-center mb-4" style="color: #007BFF; font-weight: bold;">Nouveau Mot de Passe</h3>

    <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
      <!-- Champ Nouveau mot de passe -->
      <div class="mb-3">
        <label class="form-label fw-bold">Nouveau mot de passe</label>
        <input
          type="password"
          class="form-control shadow-sm"
          formControlName="newPassword"
          placeholder="Entrez votre nouveau mot de passe"
          [ngClass]="{'is-invalid': newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched}"
          required
        />
        <div *ngIf="newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched" class="invalid-feedback">
          Le mot de passe est requis.
        </div>
      </div>

      <!-- Champ Confirmer le mot de passe -->
      <div class="mb-3">
        <label class="form-label fw-bold">Confirmez le mot de passe</label>
        <input
          type="password"
          class="form-control shadow-sm"
          formControlName="confirmPassword"
          placeholder="Confirmez votre mot de passe"
          [ngClass]="{'is-invalid': newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched}"
          required
        />
        <div *ngIf="newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched" class="invalid-feedback">
          Vous devez confirmer votre mot de passe.
        </div>
      </div>

      <!-- Bouton de soumission -->
      <button 
        type="submit" 
        class="btn btn-dark w-100 py-2" 
        style="background-color: #007BFF; border-radius: 25px; font-weight: bold;" 
        [disabled]="newPasswordForm.invalid">
        Réinitialiser le mot de passe
      </button>
    </form>

    <!-- Lien vers la page d'accueil -->
    <div class="text-center mt-3">
      <a routerLink="/home" class="text-decoration-none" style="font-weight: 600; color: #007BFF;">
        Nouveau mot de passe sauvegardé ! Bienvenue sur la page d'accueil
      </a>
    </div>
  </div>
</div>
