body {
  padding-top: 50px; /* Ajuste selon la hauteur de la navbar */
}
.container {
  width: 70%; /* Augmenter la largeur à 70% pour plus d'espace */
  max-width: 900px; /* Limite la largeur maximale à 900px */
  height: auto; /* Hauteur automatique pour s'adapter au contenu */
  padding: 30px; /* Augmenter l'espace autour du contenu */
  border-radius: 12px; /* Bords arrondis plus prononcés */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre portée légère */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  top: 80px; /* Légèrement ajuster la position */
  background-color: #f9f9f9; /* Fond clair pour un meilleur contraste */
  border: none; /* Supprime la bordure */
}

